extends index

block content
  h1 About
  p.well-lg.
    The bear bits club is an organization of like-minded students who
    want to explore new technologies and improve upon the existing
    ones through modding and/or hacking.