extends layout

block content
  div(style="text-align:center;")
    a(href="index") index
  h1= message
  h2= error?error.status:void(0)
  pre(style="border:none; background:initial") #{error?error.stack:"No error stacktrace"}
