extends layout

block head
  style.
    .container { max-width: 750px }
    .mono { font-family: "Courier New" }

block content
  .container
    .page-header.text-center
      h1 n
      //pre #! hacking/modding/inventing
      each page, index in views
        - page = page.slice(0,-5)
        if index !== 0
          span &nbsp; - &nbsp;
        a(href=page)=page
block footer
  script.
    Log("Welcome to the index")