head
  title coffee express
  link(href="vendors/bootstrap-3.1.1/bootstrap.min.css", rel="stylesheet")
  meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
  style.
    .container { max-width: 750px }
    .mono { font-family: "Courier New" }
body
  .container
    .page-header.text-center
      h1 coffee express
      //pre #! hacking/modding/inventing
      sub.mono
        each page, index in views
          - page = page.slice(0,-5)
          if index !== 0
            span &nbsp; - &nbsp;
          a(href=page)=page
    block content

  footer
    //-
      script(src="vendors/jquery-2.1.1/jquery-2.1.1.min.js")
      script(src="vendors/bootstrap-3.1.1/bootstrap.min.js")
    block footer
