extends layout

block content
  div(style="text-align:center;")
    a(href="/index") index
  .container
    h1= message
    h2= error?error.status:void(0)
    if error && error.message
      h3=error.message
    pre(style="border:none; background:initial; word-wrap: normal") #{error?error.stack:"No error stacktrace"}
