extends layout

block head
  style.
    .container { max-width: 750px }
    .mono { font-family: "Courier New" }

    /* Diamond styling */
    td[data-type] {width:1em; border-right: solid transparent .5em }
    td[data-type=directory] { background-color: tan }
    td[data-type=file] { background-color: #f3f2f0 }
    .gh-code {
      font-family: monospace;
      background: #f7f7f7;
      margin: 10px;
      padding:16px;
      overflow: auto;
      white-space: pre;
    }
    .modal{overflow-y: auto;}
block content
  .container
    .page-header.text-center
      h1 n
      //pre #! hacking/modding/inventing
      each page, index in views
        - page = page.slice(0,-5)
        if index !== 0
          span &nbsp; - &nbsp;
        a(href=page)=page
    #demo
    .modal.fade#demo-fileview
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title
          .modal-body.gh-code
block footer
  script(src="/diamond/diamond.js")
  script.
    demo = new Diamond("#demo", {debug: true})
    demoModal = $("#demo-fileview")
    demoModal.modal({show:false})
    demo.onOpenFile = function (path, data) {
      console.log("opened file: ", path)
      console.log("file contents: ", data)
      demoModal.find(".modal-title").text(path)
      demoModal.find(".modal-body").text(data)
      demoModal.modal('show')
    }